body{
    width: 100%;
    background-size: cover;
    background: url("../images/background.jpg") no-repeat fixed center;
}

.responsive-img{
    max-width: 100%;
    height:auto;
}

.fields{
    margin-top: 130px;
}

.oops{
    opacity: 0.9;
}

.valid-error{
    color: red;
}

.valid-success{
    color: #25f091;
}